
# Visual Studio / .NET
.vs/
*.user
*.suo
*.cache
[Bb]in/
[Oo]bj/
[Tt]estResults/
*.nupkg
*.snupkg

# Logs
*.log
logs/

# Power BI binaries
*.pbix
*.pbit
*.pbids

# OS
.DS_Store
Thumbs.db

# Python (если будете писать валидаторы)
__pycache__/
*.pyc

# n8n
node_modules/
